<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        .login-option {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Login with:</h2>
    <div class="login-option">
        <a href="/oauth2/authorization/google" class="btn btn-primary"><i class="fab fa-google"></i> Google</a>
    </div>
    <div class="login-option">
        <a href="/oauth2/authorization/github" class="btn btn-dark"><i class="fab fa-github"></i> GitHub</a>
    </div>
    <div class="login-option">
        <a href="/oauth2/authorization/facebook" class="btn btn-primary"><i class="fab fa-facebook"></i> Facebook</a>
    </div>
    <div class="login-option">
        <a href="/ldap-login" class="btn btn-secondary">Login with LDAP</a>
    </div>
    <div class="login-option">
        <a href="/oauth2/authorization/azure" class="btn btn-primary"><i class="fab fa-microsoft"></i> Login with Azure AD</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
